# Dependencies
node_modules/
package-lock.json

# Build output
.next/
out/
dist/
build/

# Logs
*.log
npm-debug.log*

# Environment files
.env*

# Git
.git/

# Cache directories
.mypy_cache/

# Other
coverage/
.DS_Store
